body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

#game-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px; /* Increased width */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#display-area {
    font-size: 14px; 
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #333;
    word-wrap: break-word; /* Ensure long words wrap */
}

#guess-input {
    font-size: 16px; 
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

button {
    font-size: 16px; 
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fcb69f;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #ffecd2;
}